{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "Congressional Debate" %}{% endblock %}

{% block content %}
<div id="vueMount">
  <congress-dashboard></congress-dashboard>
</div>
{% endblock content %}

{% block js %}
<script>
  window.congressConfig = {
    tournamentId: {{ tournament_id }},
    tournamentSlug: '{{ tournament_slug|escapejs }}',
    nekocongressUrl: '{{ nekocongress_url|escapejs }}',
    apiKey: '{{ nekocongress_api_key|default:""|escapejs }}',
    token: '{{ congress_token|default:""|escapejs }}',
    speakerCount: {{ speaker_count|default:0 }},
    judgeCount: {{ judge_count|default:0 }},
  };
  window.vueData = {};
</script>
{{ block.super }}
{% endblock js %}
