{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "Congress Setup Wizard" %}{% endblock %}

{% block content %}
<div id="vueMount">
  <congress-setup-wizard></congress-setup-wizard>
</div>
{% endblock content %}

{% block js %}
<script>
  window.congressConfig = {
    tournamentId: {{ tournament_id }},
    tournamentSlug: '{{ tournament_slug|escapejs }}',
    nekocongressUrl: '{{ nekocongress_url|escapejs }}',
    apiKey: '{{ nekocongress_api_key|default:""|escapejs }}',
    token: '{{ congress_token|default:""|escapejs }}',
  };
  window.vueData = {};
</script>
{{ block.super }}
{% endblock js %}
