//------------------------------------------------------------------------------
// Footer Layout Changes
//------------------------------------------------------------------------------

html {
  min-height: 100%;
  position: relative;
}

body {
  /* Use padding-bottom instead of fixed margin for dynamic footer height */
  padding-bottom: 40px;
}

.footer {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: auto;

  a {
    border-bottom: 1px solid theme-color("secondary");
    color: theme-color("dark");
  }
}

//------------------------------------------------------------------------------
// Responsive tweaks
//------------------------------------------------------------------------------

// For Desktops
@media (min-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer a.nav-link {
    padding: 0; // Override bootstrap defaults for spacing
  }
}

// For Phones
@media (max-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer .nav-item {
    margin-left: 15px; // Override bootstrap defaults for spacing

    a.nav-link {
      padding-left: 0;
    }
  }
}
