{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "IE Room Draw" %}{% endblock %}

{% block content %}
<div id="vueMount">
  <ie-room-draw :event-id="ieConfig.eventId"
                :round-number="ieConfig.roundNumber"
                :is-director="ieConfig.isDirector">
  </ie-room-draw>
</div>
{% endblock content %}

{% block js %}
<script>
  window.NEKOSPEECH_URL = '{{ nekospeech_url|escapejs }}';
  window.ieConfig = {
    tournamentId: {{ tournament_id }},
    roundNumber: {{ round_number }},
    eventId: {{ event_id }},
    isDirector: true,
    apiBaseUrl: '{{ api_base_url|escapejs }}',
    apiKey: '{{ nekospeech_api_key|default:""|escapejs }}',
    token: '{{ ie_token|default:""|escapejs }}',
  };
  window.vueData = {};
</script>
{{ block.super }}
{% endblock js %}
