{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "IE Entries" %}{% endblock %}

{% block content %}
<div id="vueMount">
  <ie-entry-manager></ie-entry-manager>
</div>
{% endblock content %}

{% block js %}
<script>
  window.NEKOSPEECH_URL = '{{ nekospeech_url|escapejs }}';
  window.ieConfig = {
    tournamentId: {{ tournament_id }},
    tournamentSlug: '{{ tournament_slug|escapejs }}',
    eventId: {{ event_id }},
    eventName: '{{ event_name|escapejs }}',
    eventType: '{{ event_type|escapejs }}',
    numRounds: {{ num_rounds }},
    apiBaseUrl: '{{ api_base_url|escapejs }}',
    apiKey: '{{ nekospeech_api_key|default:""|escapejs }}',
    token: '{{ ie_token|default:""|escapejs }}',
  };
  window.vueData = {};
</script>
{{ block.super }}
{% endblock js %}
