{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{% trans "IE Standings" %}{% endblock %}

{% block content %}
<div id="vueMount">
  <ie-standings :event-id="ieConfig.eventId">
  </ie-standings>
</div>
{% endblock content %}

{% block js %}
<script>
  window.NEKOSPEECH_URL = '{{ nekospeech_url|escapejs }}';
  window.ieConfig = {
    tournamentId: {{ tournament_id }},
    eventId: {{ event_id }},
    apiBaseUrl: '{{ api_base_url|escapejs }}',
    apiKey: '{{ nekospeech_api_key|default:""|escapejs }}',
    token: '{{ ie_token|default:""|escapejs }}',
  };
  window.vueData = {};
</script>
{{ block.super }}
{% endblock js %}
